@tailwind base;
@tailwind components;
@tailwind utilities;

.retro-container {
  background-image: linear-gradient(45deg, #fefce8 25%, #fef9c3 25%, #fef9c3 50%, #fefce8 50%, #fefce8 75%, #fef9c3 75%, #fef9c3 100%);
  background-size: 56.57px 56.57px;
}

.retro-window {
  box-shadow: 4px 4px 0 #1e3a8a;
}
