@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.retro-container {
  background-image: linear-gradient(45deg, #F0E68C 25%, #FFF8DC 25%, #FFF8DC 50%, #F0E68C 50%, #F0E68C 75%, #FFF8DC 75%, #FFF8DC 100%);
  background-size: 56.57px 56.57px;
}

.retro-button:hover {
  background-color: #A9A9A9;
}
